body{
    background-color: rgb(76, 54, 46);
    color:beige;
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Iosevka, monospace, sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.intro{
    /* border: 2px solid beige; */
    width: 100% - 20px;
    padding: 20px, 0;
    margin: 20px, 0;
    scroll-margin-top: 100px;
}

.about{
    background-color: rgb(58, 41, 35);
    display: flex;
    border: 2px solid beige;
    border-radius: 10px;
    width: 100% - 20px;
    padding: 20px;
    margin: 20px;
}

.profile-picture{
    flex: 30%;
    margin: auto;
}

.description{
    flex: 70%;
    margin: 20px;
}

.profile-picture img{
    width: min(100%, 300px);
    border: 2px solid beige;
    border-radius: 10px;

}

.info{
    display: flex;
    margin: 20px;
    width: 100% - 40px;
    text-align: left;
}

.info p{
    border: 2px solid beige;
    border-radius: 10px;
    padding: 10px;
}

.skills {
    background-color: rgb(58, 41, 35);
    border: 2px solid beige;
    border-radius: 10px;
    padding: 20px;
    flex: 50%;
}

.contact{
    background-color: rgb(58, 41, 35);
    border: 2px solid beige;
    border-radius: 10px;
    padding: 20px;
    flex: 50%;
    margin-right: 20px;
}

@media screen and (max-width: 1000px) {
    body{
        text-align: left;
    }
    .info{
        display: block;
        margin: 20px;
        width: 100% - 40px;
    }
    .contact{
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .about{
        text-align: center;
        display: block;
    }
}

.contributions{
    border: 2px solid beige;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.projects{
    padding: 20px, 0;
    margin: 20px;
    scroll-margin-top: 100px;
}

.projects img{
    width: 100%;
    margin-top: 20px;
}

.artwork{
    padding: 20px, 0;
    margin: 20px;
    scroll-margin-top: 100px;
}

.artworks{
    background-color: rgb(58, 41, 35);
    display: flex;
    flex-wrap: wrap;
    border: 2px solid beige;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.artworks img{
    width: 45%;
    padding: 20px;
}

.komputronik{
    background-color: rgb(58, 41, 35);
    border: 2px solid beige;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slideshow-container {
    max-width: 1000px;
    margin: auto;
}

.mySlides1 {
    display: none;
}

.mySlides2 {
    display: none;
}

.mySlides3 {
    display: none;
}

.mySlides4 {
    display: none;
}


.ninja, .elektronik, .alice, .unseen, .wizard{
    border: 2px solid beige;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ninja{
    border-right: 0;
    border-left: 0;
    padding: 0;
}

.elektronik{
    border-right: 0;
    border-left: 0;
    padding: 0;
}

.alice{
    background-color: rgb(58, 41, 35);
}

.unseen{
    background-color: rgb(58, 41, 35);
}

.nav{
    position: sticky;
    display: flex;
    gap: 20px;
    top: 0;
    justify-content: center;
    background-color: rgb(58, 41, 35);
    margin-bottom: 20px;
    text-align: center;
}

.nav p{
    color: beige;
    font-weight: bold;
    background-color: rgb(76, 54, 46);
    width: 100%;
    padding: 20px 20px;
    cursor: pointer;
}

footer{
    background-color: rgb(58, 41, 35);
    padding: 10px;
    text-align: center;
    border-top: 2px solid beige;
}

button {
    width: 100%;
    background-color: beige;
    color: rgb(33, 41, 32);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: Iosevka, monospace, sans-serif;
    cursor: pointer;
}

a, a:visited{
    color: beige;
}

h1, h2, h3{
    text-align: center;
}

ul {
    text-align: left;
}

#yt {
    aspect-ratio: 16/9;
    width: min(100%, 1290px);
    height: auto;
    margin-top: 20px;
}

.game {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    border:none;
    margin-top: 20px;
    display: none;
}